[submodule "fif/vendor/glfw"]
	path = fif/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "fif/vendor/glad"]
	path = fif/vendor/glad
	url = https://github.com/nitrix/glad
[submodule "fif/vendor/glm"]
	path = fif/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "fif/vendor/imgui"]
	path = fif/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "fif/vendor/LuaJIT"]
	path = fif/vendor/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "fif/vendor/entt"]
	path = fif/vendor/entt
	url = https://github.com/skypjack/entt
