**/.DS_Store
*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.a
*.lib
*.la
*.lai

*.exe
*.out
*.app

build*

**/imgui.ini
examples/**_export

**/libs/**/*.pc
**/libs/**/*.cmake
**/.cache
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
